@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// Background Colors
$bodyColor: #161620 !important;
$winnerColor:#fbe217;
$switchButtonColor: #fd7e14;

//Box Shadow Colors
$shadowColor: drop-shadow(0px 0px 3px rgb(179, 173, 158));

//Text Shadow Colors
$logoShadow:white;

// Fonts
$generalFont : "Roboto",
sans-serif;
$hFonts: "Yanone Kaffeesatz",
sans-serif;


//Rem sizes

$oneRem:1rem;
$oneHalfRem:1.5rem;
$twoRem:2rem;
$twoHalfRem:2.5rem;
$treeRem:3rem;
$treeHalfRem:3.5rem;
$fourRem:4rem;
$fourHalfRem:4.5rem;
$fiveRem:5rem;
$fiveHalfRem:5.5rem;
$sixRem:6rem;
$sixHalfRem:6.5rem;
$sevenRem:7rem;
$sevenHalfRem:7.5rem;
$eightRem:8rem;
$eightHalfRem:8.5rem;
$nineRem:9rem;
$nineHalfRem:9.5rem;