@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: blanchedalmond !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.images {
  filter: blur(5px);
}

.logo {
  width: 50%;
}
.logo img {
  width: 125px;
}
.logo h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: blanchedalmond !important;
  font-size: 0;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h2 span {
  font-size: 4rem;
  display: inline-block;
  -webkit-animation: move 3s ease-in-out infinite;
          animation: move 3s ease-in-out infinite;
}
.logo h2 span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.logo h2 span:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.logo h2 span:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.logo h2 span:nth-child(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.logo h2 span:nth-child(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.logo h2 span:nth-child(7) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.logo h2 span:nth-child(8) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.logo h2 span:nth-child(9) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.logo h2 span:nth-child(10) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
.logo h2 span:nth-child(11) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.logo h2 span:nth-child(12) {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}
.logo h2 span:nth-child(13) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.logo h2 span:nth-child(14) {
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}

@-webkit-keyframes move {
  0% {
    transform: translate(-5%, 0);
  }
  50% {
    text-shadow: 0 25px 50px #d42427;
  }
  100% {
    transform: translate(5%, 0);
  }
}

@keyframes move {
  0% {
    transform: translate(-5%, 0);
  }
  50% {
    text-shadow: 0 25px 50px #d42427;
  }
  100% {
    transform: translate(5%, 0);
  }
}
.w-15 {
  width: 15% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
}
.footer .patreon {
  margin-left: 10px;
  cursor: pointer;
}
.footer .patreon :hover {
  color: rgb(255, 66, 77) !important;
  filter: drop-shadow(0px 0px 3px white);
}
.footer .linkedin {
  margin-left: 10px;
  cursor: pointer;
}
.footer .linkedin :hover {
  color: rgb(0, 114, 177) !important;
  filter: drop-shadow(0px 0px 3px white);
}
.footer .github {
  margin-left: 10px;
  cursor: pointer;
}
.footer .github :hover {
  color: white !important;
  filter: drop-shadow(0px 0px 3px rgb(179, 173, 158));
}
.footer .medium {
  margin-left: 10px;
  cursor: pointer;
}
.footer .medium :hover {
  color: white !important;
  filter: drop-shadow(0px 0px 3px rgb(179, 173, 158));
}

.comments {
  background-color: blanchedalmond !important;
  filter: drop-shadow(0px 0px 3px rgb(179, 173, 158));
}

.url-input,
.url-button {
  filter: drop-shadow(0px 0px 3px rgb(179, 173, 158));
}

.url-button {
  transition: transform 0.4s ease-out;
}
.url-button :hover {
  transform: scale(1.2);
}

.form-check-input:checked {
  background-color: #fd7e14 !important;
  border-color: #fd7e14 !important;
}

.language {
  top: 10px;
  right: 10px;
  color: blanchedalmond !important;
  position: fixed;
}

.winner {
  position: relative;
}
.winner .winner-img {
  border: 4px solid #fbe217;
  border-radius: 40px;
  width: 5rem !important;
}
.winner .winner-link {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #fbe217;
  padding: 0;
  margin: 0;
}
.winner .winner-text {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #fbe217;
  padding: 0;
  margin: 0;
  font-size: 4rem;
}
.winner .winner-link {
  text-decoration: none;
}
.winner .winner-link :hover {
  color: white;
  text-decoration: none;
}
.winner .winner-name {
  font-size: 4rem;
  text-align: center;
}
.winner .winner-tac {
  width: 150px;
  position: absolute;
  top: 90px;
  margin-right: 10px;
}/*# sourceMappingURL=App.css.map */